/* Configuraci칩n del Bg */

body {
  background-image: url(../assets/img/bg-image.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main::-webkit-scrollbar {
  display: none;
}

/* Indicadores de navegaci칩n (Navmarks) */

.navmarks {
  z-index: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: space-around;
  left: 3rem;
  top: 30rem;
  cursor: pointer;
}

.navmarks__dot {
  border-radius: 50%;
  background-color: var(--brown);
  width: 1.5rem;
  height: 1.5rem;
  transition: background 100ms ease-in;
  opacity: 0.4;
}

.navmarks__dot:hover {
  opacity: 1;
}

.navmarks__dot--negative {
  background-color: white;
}

/* Scroll type main */

main {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* Layout main */

main section {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 3rem 10rem auto auto 2rem;
  scroll-snap-align: start;
}

/* Seccion 1 */

.home__arrow {
  height: 10rem;
  width: auto;
  grid-column: 2/3;
  grid-row: 9/11;
}
.home__icons {
  height: 11rem;
  width: auto;
  grid-column: 3/4;
  grid-row: 2/3;
}
.home__picture {
  height: auto;
  width: 65rem;
  align-self: end;
  justify-self: center;
  grid-column: 4/5;
  grid-row: 3/11;
}
.home__text {
  grid-column: 3/6;
}
.home__text--subtitle {
  grid-row: 4/5;
  font-size: 5rem;
  align-self: end;
}
.home__text--title {
  grid-row: 5/6;
  font-size: 10rem;
}
.home__text--p {
  grid-row: 6/8;
  font-size: 2.7rem;
}

/* Seccion 2 y reutilizable */

.section__icons {
  height: 10rem;
  width: auto;
  grid-column: 3/4;
  grid-row: 2/4;
}
.section__picture {
  height: auto;
  width: 60rem;
  align-self: end;
  margin-left: 40rem;
  grid-column: 4/5;
  grid-row: 3/11;
}
.section__text {
  grid-column: 3/6;
  grid-row: 4/7;
  font-size: 15rem;
  align-self: center;
}
.section__button {
  grid-column: 3/4;
  grid-row: 6/8;
  align-self: center;
  background-color: var(--aqua);
  margin-top: 4rem;
  padding: 1.5rem;
  width: 25rem;
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: var(--regular);
  border-radius: 10px;
  cursor: pointer;
}
.section__button:hover {
  background-color: var(--brown);
}

/* Seccion 3 */

.dise침o__icons {
  height: 11rem;
}
.dise침o__picture {
  width: 80rem;
  margin-left: 30rem;
}

/* Seccion 4 */

.otras__picture {
  grid-column: 4/6;
  justify-self: end;
  width: 70rem;
}
.otras__text {
  font-size: 7rem;
}
.otras__link {
  grid-row: 5/8;
}

/* Seccion 5 */

.contactame {
  display: grid;
  height: 90vh;
  background-color: var(--brown);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 30% auto auto 30%;
}

.contactame__text {
  grid-column: 2/5;
  grid-row: 2/3;
  color: white;
  font-size: 13rem;
  align-self: center;
  justify-self: center;
}

.contactame__link {
  grid-row: 2/4;
  grid-column: 2/5;
  justify-self: center;
  margin-top: 15rem;
}

.contactame__link:hover {
  background-color: white;
  color: var(--aqua);
}

.contactame__arrow {
  width: 6rem;
  height: auto;
  grid-column: 2/4;
  grid-row: 3/5;
  justify-self: center;
  margin-right: 4rem;
  margin-top: 4rem;
}

/* Footer */

footer {
  width: 100%;
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-size: 1.4rem;
}
